{
  "embeddings": [
    {
      "tensorName": "Sentiment Analysis Tensors",
      "tensorShape": [
        20000,
        32
      ],
      "tensorPath": "https://raw.githubusercontent.com/fork52/Sentiment-Analyzer/master/Embeddings/vecs.tsv",
      "metadataPath": "https://raw.githubusercontent.com/fork52/Sentiment-Analyzer/master/Embeddings/meta.tsv"
    }
  ]
}